# Job - Pre-processing and Modelling Iteration final

In [1]:
# libraries import

import numpy as np
import pandas as pd
import json
import matplotlib.pyplot as plt
%matplotlib inline

import re
import datetime
from datetime import date
from time import strptime

import RAKE as rake
import operator

######################################################################################

# Working on Job description Data
######################################################################################

In [2]:
# reading my sorted job csv
job = pd.read_csv('WIP/sorted_jobs_master_new.csv')

In [3]:
job.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38941 entries, 0 to 38940
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   company           38941 non-null  object
 1   education         38941 non-null  object
 2   experience        38941 non-null  int64
 3   industry          38941 non-null  object
 4   jobdescription    38941 non-null  object
 5   jobtitle          38941 non-null  object
 6   payrate           38941 non-null  object
 7   skills            38941 non-null  object
 8   experience_range  38941 non-null  int64
 9   industry_enum     38941 non-null  int64
 10  Salary_range      38941 non-null  float64
 11  j_id              38941 non-null  int64
 12  is_grad           38941 non-null  int64
 13  is_postgrad       38941 non-null  int64
 14  is_doc            38941 non-null  int64
 15  location          38941 non-null  int64
 16  loc_name          38941 non-null  object
dtypes: float64(1), int64(8), object(8)
memory usage: 5.1+ MB

###########################################################################################################################
# Understanding Job_description column (using NLP)
###########################################################################################################################

# 1. NLP - NLTK application to understand most used words

In [4]:
#Import all the dependencies
import nltk
nltk.download('wordnet')
from nltk.stem import WordNetLemmatizer
wordnet_lemmatizer = WordNetLemmatizer()
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize 
set(stopwords.words('english'))
# nltk.download('abc')
# from nltk.corpus import abc
# from nltk import RegexpTokenizer

import string
stopwords = set(stopwords.words("english"))
import gensim
from gensim.test.utils import common_texts
from gensim.models.doc2vec import Doc2Vec, TaggedDocument

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\shail\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [5]:
# defining tokenizer 
def my_tokenizer(text):
    # 1. split at whitespace
    text = text.split(' ')
    
    #2. lowercase
    text = [word.lower() for word in text]
    
    #3. Remove puncutation
    #table to replace puncuation
    punc_table = str.maketrans('','',string.punctuation)
    
    #call translate()
    text = [word.translate(punc_table) for word in text]
    
    #4. remove stopwords
    text = [word for word in text if word not in stopwords]
    
    #5. lemmmatize
    lemmatizer = WordNetLemmatizer()
    
    text = [lemmatizer.lemmatize(word, pos='v') for word in text]
    text = [lemmatizer.lemmatize(word, pos='n') for word in text]
    text = [lemmatizer.lemmatize(word, pos='a') for word in text]
    
    #6. remove empty strings
    text = [word for word in text if word !='']
    
    return text

# 2. NLP - TF-IDF application to get a list of all tokens 
-- This helped to gather what words needed to be in stop-words list

In [16]:
#z = job['jobdescription'].str.rstrip('job description   send me jobs like this')

In [7]:
# job['jobdescription'] = job.jobdescription.str[40:]
job['jobdescription']

0         Qualifications: - == > 10th To Graduation & A...
1         Qualifications: - == > 10th To Graduation & A...
2         - as a developer in providing application des...
3         - Involved with all stages of indirect taxati...
4         - Involved with all stages of indirect taxati...
                               ...
38936     Looking for candidates with strong programmin...
38937     Work with tech lead to architect and develop ...
38938     We are looking for a Senior UI Developers and...
38939     We are looking for a Senior UI Developers and...
38940     Job description : Experience of 5-10 years wi...
Name: jobdescription, Length: 38941, dtype: object

In [23]:
# t= job.copy()
# t.to_csv('WIP.sorted_jobs_master_new.csv', index=False)

In [8]:
df_job_descriptions = job[['j_id','jobtitle','company' ]]
df_job_descriptions['jd_combo'] = job['jobtitle'] +" " +  job['jobdescription'] 
df_job_descriptions.head()

C:\Users\shail\anaconda\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,j_id,jobtitle,company,jd_combo
0,0,walkin data entry operator (night shift),MM Media Pvt Ltd,walkin data entry operator (night shift) Qual...
1,1,work based onhome based part time.,find live infotech,work based onhome based part time. Qualificat...
2,2,pl/sql developer - sql,Softtech Career Infosystem Pvt. Ltd,pl/sql developer - sql - as a developer in pr...
3,3,manager/ad/partner - indirect tax - ca,Onboard HRServices LLP,manager/ad/partner - indirect tax - ca - Invo...
4,4,manager/ad/partner - indirect tax - ca,Onboard HRServices LLP,manager/ad/partner - indirect tax - ca - Invo...

In [9]:
from sklearn.feature_extraction.text import TfidfVectorizer
stopwords = nltk.corpus.stopwords.words('english')
stopwords.append('ã¯æ’ëœ')
#Transforms words to TFIDF
vectorizer = TfidfVectorizer(stop_words = stopwords)

index = 0
keys = {}

for jd in df_job_descriptions.itertuples() :
    key = jd[1]
    keys[key] = index
    index += 1

#Fit the vectorizer to the data
vectorizer.fit(df_job_descriptions['jd_combo'].fillna(''))

#Transform the data
tfidf_scores = vectorizer.transform(df_job_descriptions['jd_combo'].fillna(''))

print(tfidf_scores.shape)
print(df_job_descriptions.shape)

C:\Users\shail\anaconda\lib\site-packages\sklearn\feature_extraction\text.py:385: UserWarning: Your stop_words may be inconsistent with your preprocessing. Tokenizing the stop words generated tokens ['ëœ'] not in stop_words.
  'stop_words.' % sorted(inconsistent))

(38941, 58510)
(38941, 4)

In [10]:
type(tfidf_scores)

scipy.sparse.csr.csr_matrix

In [11]:
test = pd.DataFrame(tfidf_scores.toarray(), columns = vectorizer.get_feature_names())

In [12]:
test.head()

,00,000,0000,00000,0000gmt,0001pt,00029,00034,000402,00053,...,ïƒ,ïƒ¼,ïƒž,œ100,œmost,œrecognition,œto,šâ,šã,žâ
0,0.0,0.056499,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.068273,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

As count vectorizer and Tf-Idf are only exploding my column numbers. It might not be wise to proceed with any of these. Moveover, I need to compare job description with Resume, that may not with fair comparison. So I will use these results so far for customizing stop word list. And will later use Doc2Vec to train my model.

# Creating my Stopword list 

### As seen there are so many unwanted tokens like numbers,ïƒ¼ etc , I need to add them in "stop words" list to train model

In [13]:
#getting list of all tokens
word_list = test.columns.tolist()

In [14]:
##Getting a list of unwanted words as s_words and adding to stopwords
s_words =[]
for word in word_list:
    #print(word)
    if re.search("^\W|^\d",word):
        s_words.append(word)

In [15]:
s_words.append('')        
from nltk.corpus import stopwords
stopword_set = set(stopwords.words('english'))
stopword_set = list(stopword_set)
stopword_set.extend(s_words)

# Collecting all text data for DOC2VEC modelling
In final iteration, I only used job title and job description for creating text combo document and got my 20-D vectors. This time I trained my model on 200 epochs. 

As count vectorizer and Tf-Idf are only exploding my column numbers. It might not be wise to proceed with any of these. Moveover, I need to compare job description with Resume, that may not with fair comparison. 

Definately Doc2Vec is the smart choice to make to proceed with matching. Because Doc2Vec has ability to read document as a whole rather than working on each single word. It has a feature to provide n-Dimentional vectors. 

So I am going to use same concept to get my vectors. Then I ll use those vectors to match it against any given resume.

In [16]:
# df_job_descriptions = job[['j_id','jobtitle','company' ]]
# df_job_descriptions['jd_combo'] = job['jobtitle'] +" " +  job['jobdescription'] 
df_job_descriptions.head()

,j_id,jobtitle,company,jd_combo
0,0,walkin data entry operator (night shift),MM Media Pvt Ltd,walkin data entry operator (night shift) Qual...
1,1,work based onhome based part time.,find live infotech,work based onhome based part time. Qualificat...
2,2,pl/sql developer - sql,Softtech Career Infosystem Pvt. Ltd,pl/sql developer - sql - as a developer in pr...
3,3,manager/ad/partner - indirect tax - ca,Onboard HRServices LLP,manager/ad/partner - indirect tax - ca - Invo...
4,4,manager/ad/partner - indirect tax - ca,Onboard HRServices LLP,manager/ad/partner - indirect tax - ca - Invo...

In [17]:
docs = df_job_descriptions['jd_combo']
docs_sample = docs.head(10)
docs_sample

0    walkin data entry operator (night shift)  Qual...
1    work based onhome based part time.  Qualificat...
2    pl/sql developer - sql  - as a developer in pr...
3    manager/ad/partner - indirect tax - ca  - Invo...
4    manager/ad/partner - indirect tax - ca  - Invo...
5    manager/ad/partner - indirect tax - ca  - Invo...
6    manager/ad/partner - indirect tax - ca  - Invo...
7    manager/ad/partner - indirect tax - ca  - Invo...
8    manager/ad/partner - indirect tax - ca  - Invo...
9    java technical lead (6-8 yrs) -  Please share ...
Name: jd_combo, dtype: object

In [18]:
#pre-processing with custom stop word list
def preprocess(text):
    stop_words = stopword_set
    #0. split words by whitespace
    text = text.split()
    
    
    # 1. lower case
    text = [word.lower() for word in text]
    
    # 2. remove punctuations
    punc_table = str.maketrans('','',string.punctuation)
    text = [word.translate(punc_table) for word in text]
    
    # 3. remove stop words
    text = [word for word in text if word not in stop_words]
    
    return text

In [19]:
# calling my pre-process to tokenize 
tokenized_doc = []
doc = df_job_descriptions['jd_combo']
#doc = docs_sample
for d in doc:
    tokenized_doc.append(preprocess(d))
#tokenized_doc

In [20]:
# Convert tokenized document into gensim formated tagged data
tagged_data = [TaggedDocument(d, [i]) for i, d in enumerate(tokenized_doc)]

In [21]:
num_doc = len(tagged_data)
num_doc

38941

In [24]:

#settings to show epoch progress
from gensim.test.utils import get_tmpfile
from gensim.models.callbacks import CallbackAny2Vec

class EpochSaver(CallbackAny2Vec):

    def __init__(self, path_prefix):
        self.path_prefix = path_prefix
        self.epoch = 0

    def on_epoch_end(self, model):
        output_path = get_tmpfile('{}_epoch{}.model'.format(self.path_prefix, self.epoch))
        model.save(output_path)
        self.epoch += 1

In [25]:
#settings to show epoch progress
class EpochLogger(CallbackAny2Vec):
    
    def __init__(self):
        self.epoch = 0
        
    def on_epoch_begin(self, model):
        print("Epoch #{} start".format(self.epoch))

    def on_epoch_end(self, model):
        print("Epoch #{} end".format(self.epoch))
        self.epoch += 1

In [27]:
#train model - final******** with 200 epochs
epoch_logger = EpochLogger()
## Train doc2vec model
model1 = Doc2Vec(tagged_data, vector_size=20, window=2, min_count=1, workers=4, epochs = 200, callbacks=[epoch_logger])

Epoch #0 start
Epoch #0 end
Epoch #1 start
Epoch #1 end
Epoch #2 start
Epoch #2 end
Epoch #3 start
Epoch #3 end
Epoch #4 start
Epoch #4 end
Epoch #5 start
Epoch #5 end
Epoch #6 start
Epoch #6 end
Epoch #7 start
Epoch #7 end
Epoch #8 start
Epoch #8 end
Epoch #9 start
Epoch #9 end
Epoch #10 start
Epoch #10 end
Epoch #11 start
Epoch #11 end
Epoch #12 start
Epoch #12 end
Epoch #13 start
Epoch #13 end
Epoch #14 start
Epoch #14 end
Epoch #15 start
Epoch #15 end
Epoch #16 start
Epoch #16 end
Epoch #17 start
Epoch #17 end
Epoch #18 start
Epoch #18 end
Epoch #19 start
Epoch #19 end
Epoch #20 start
Epoch #20 end
Epoch #21 start
Epoch #21 end
Epoch #22 start
Epoch #22 end
Epoch #23 start
Epoch #23 end
Epoch #24 start
Epoch #24 end
Epoch #25 start
Epoch #25 end
Epoch #26 start
Epoch #26 end
Epoch #27 start
Epoch #27 end
Epoch #28 start
Epoch #28 end
Epoch #29 start
Epoch #29 end
Epoch #30 start
Epoch #30 end
Epoch #31 start
Epoch #31 end
Epoch #32 start
Epoch #32 end
Epoch #33 start
Epoch #33 end
Epoch #34 start
Epoch #34 end
Epoch #35 start
Epoch #35 end
Epoch #36 start
Epoch #36 end
Epoch #37 start
Epoch #37 end
Epoch #38 start
Epoch #38 end
Epoch #39 start
Epoch #39 end
Epoch #40 start
Epoch #40 end
Epoch #41 start
Epoch #41 end
Epoch #42 start
Epoch #42 end
Epoch #43 start
Epoch #43 end
Epoch #44 start
Epoch #44 end
Epoch #45 start
Epoch #45 end
Epoch #46 start
Epoch #46 end
Epoch #47 start
Epoch #47 end
Epoch #48 start
Epoch #48 end
Epoch #49 start
Epoch #49 end
Epoch #50 start
Epoch #50 end
Epoch #51 start
Epoch #51 end
Epoch #52 start
Epoch #52 end
Epoch #53 start
Epoch #53 end
Epoch #54 start
Epoch #54 end
Epoch #55 start
Epoch #55 end
Epoch #56 start
Epoch #56 end
Epoch #57 start
Epoch #57 end
Epoch #58 start
Epoch #58 end
Epoch #59 start
Epoch #59 end
Epoch #60 start
Epoch #60 end
Epoch #61 start
Epoch #61 end
Epoch #62 start
Epoch #62 end
Epoch #63 start
Epoch #63 end
Epoch #64 start
Epoch #64 end
Epoch #65 start
Epoch #65 end
Epoch #66 start
Epoch #66 end
Epoch #67 start
Epoch #67 end
Epoch #68 start
Epoch #68 end
Epoch #69 start
Epoch #69 end
Epoch #70 start
Epoch #70 end
Epoch #71 start
Epoch #71 end
Epoch #72 start
Epoch #72 end
Epoch #73 start
Epoch #73 end
Epoch #74 start
Epoch #74 end
Epoch #75 start
Epoch #75 end
Epoch #76 start
Epoch #76 end
Epoch #77 start
Epoch #77 end
Epoch #78 start
Epoch #78 end
Epoch #79 start
Epoch #79 end
Epoch #80 start
Epoch #80 end
Epoch #81 start
Epoch #81 end
Epoch #82 start
Epoch #82 end
Epoch #83 start
Epoch #83 end
Epoch #84 start
Epoch #84 end
Epoch #85 start
Epoch #85 end
Epoch #86 start
Epoch #86 end
Epoch #87 start
Epoch #87 end
Epoch #88 start
Epoch #88 end
Epoch #89 start
Epoch #89 end
Epoch #90 start
Epoch #90 end
Epoch #91 start
Epoch #91 end
Epoch #92 start
Epoch #92 end
Epoch #93 start
Epoch #93 end
Epoch #94 start
Epoch #94 end
Epoch #95 start
Epoch #95 end
Epoch #96 start
Epoch #96 end
Epoch #97 start
Epoch #97 end
Epoch #98 start
Epoch #98 end
Epoch #99 start
Epoch #99 end
Epoch #100 start
Epoch #100 end
Epoch #101 start
Epoch #101 end
Epoch #102 start
Epoch #102 end
Epoch #103 start
Epoch #103 end
Epoch #104 start
Epoch #104 end
Epoch #105 start
Epoch #105 end
Epoch #106 start
Epoch #106 end
Epoch #107 start
Epoch #107 end
Epoch #108 start
Epoch #108 end
Epoch #109 start
Epoch #109 end
Epoch #110 start
Epoch #110 end
Epoch #111 start
Epoch #111 end
Epoch #112 start
Epoch #112 end
Epoch #113 start
Epoch #113 end
Epoch #114 start
Epoch #114 end
Epoch #115 start
Epoch #115 end
Epoch #116 start
Epoch #116 end
Epoch #117 start
Epoch #117 end
Epoch #118 start
Epoch #118 end
Epoch #119 start
Epoch #119 end
Epoch #120 start
Epoch #120 end
Epoch #121 start
Epoch #121 end
Epoch #122 start
Epoch #122 end
Epoch #123 start
Epoch #123 end
Epoch #124 start
Epoch #124 end
Epoch #125 start
Epoch #125 end
Epoch #126 start
Epoch #126 end
Epoch #127 start
Epoch #127 end
Epoch #128 start
Epoch #128 end
Epoch #129 start
Epoch #129 end
Epoch #130 start
Epoch #130 end
Epoch #131 start
Epoch #131 end
Epoch #132 start
Epoch #132 end
Epoch #133 start
Epoch #133 end
Epoch #134 start
Epoch #134 end
Epoch #135 start
Epoch #135 end
Epoch #136 start
Epoch #136 end
Epoch #137 start
Epoch #137 end
Epoch #138 start
Epoch #138 end
Epoch #139 start
Epoch #139 end
Epoch #140 start
Epoch #140 end
Epoch #141 start
Epoch #141 end
Epoch #142 start
Epoch #142 end
Epoch #143 start
Epoch #143 end
Epoch #144 start
Epoch #144 end
Epoch #145 start
Epoch #145 end
Epoch #146 start
Epoch #146 end
Epoch #147 start
Epoch #147 end
Epoch #148 start
Epoch #148 end
Epoch #149 start
Epoch #149 end
Epoch #150 start
Epoch #150 end
Epoch #151 start
Epoch #151 end
Epoch #152 start
Epoch #152 end
Epoch #153 start
Epoch #153 end
Epoch #154 start
Epoch #154 end
Epoch #155 start
Epoch #155 end
Epoch #156 start
Epoch #156 end
Epoch #157 start
Epoch #157 end
Epoch #158 start
Epoch #158 end
Epoch #159 start
Epoch #159 end
Epoch #160 start
Epoch #160 end
Epoch #161 start
Epoch #161 end
Epoch #162 start
Epoch #162 end
Epoch #163 start
Epoch #163 end
Epoch #164 start
Epoch #164 end
Epoch #165 start
Epoch #165 end
Epoch #166 start
Epoch #166 end
Epoch #167 start
Epoch #167 end
Epoch #168 start
Epoch #168 end
Epoch #169 start
Epoch #169 end
Epoch #170 start
Epoch #170 end
Epoch #171 start
Epoch #171 end
Epoch #172 start
Epoch #172 end
Epoch #173 start
Epoch #173 end
Epoch #174 start
Epoch #174 end
Epoch #175 start
Epoch #175 end
Epoch #176 start
Epoch #176 end
Epoch #177 start
Epoch #177 end
Epoch #178 start
Epoch #178 end
Epoch #179 start
Epoch #179 end
Epoch #180 start
Epoch #180 end
Epoch #181 start
Epoch #181 end
Epoch #182 start
Epoch #182 end
Epoch #183 start
Epoch #183 end
Epoch #184 start
Epoch #184 end
Epoch #185 start
Epoch #185 end
Epoch #186 start
Epoch #186 end
Epoch #187 start
Epoch #187 end
Epoch #188 start
Epoch #188 end
Epoch #189 start
Epoch #189 end
Epoch #190 start
Epoch #190 end
Epoch #191 start
Epoch #191 end
Epoch #192 start
Epoch #192 end
Epoch #193 start
Epoch #193 end
Epoch #194 start
Epoch #194 end
Epoch #195 start
Epoch #195 end
Epoch #196 start
Epoch #196 end
Epoch #197 start
Epoch #197 end
Epoch #198 start
Epoch #198 end
Epoch #199 start
Epoch #199 end

In [28]:
# Save trained doc2vec model
model1.save("Model/my_doc2vec_v2.model")

In [30]:
## Load saved doc2vec model
model1= Doc2Vec.load("Model/my_doc2vec_v2.model")

In [31]:
#confirm length (should be 38941)
len(tokenized_doc)

38941

In [35]:
## Get vector value
vec = np.empty([38941,20])

for k,i in enumerate(tokenized_doc):
    
    #print(i)
    vector = model1.infer_vector(i)
    vec[k] = vector
    #vec = np.append(vector)
    #vecf = np.append(vec,vector)

# reshape into 2D
new_arr = np.reshape(vec,(-1,20))

In [36]:
rng = range(1, 21)
vec_df = pd.DataFrame(new_arr, columns=['vec_' + str(i) for i in rng])

In [37]:
vec_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38941 entries, 0 to 38940
Data columns (total 20 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   vec_1   38941 non-null  float64
 1   vec_2   38941 non-null  float64
 2   vec_3   38941 non-null  float64
 3   vec_4   38941 non-null  float64
 4   vec_5   38941 non-null  float64
 5   vec_6   38941 non-null  float64
 6   vec_7   38941 non-null  float64
 7   vec_8   38941 non-null  float64
 8   vec_9   38941 non-null  float64
 9   vec_10  38941 non-null  float64
 10  vec_11  38941 non-null  float64
 11  vec_12  38941 non-null  float64
 12  vec_13  38941 non-null  float64
 13  vec_14  38941 non-null  float64
 14  vec_15  38941 non-null  float64
 15  vec_16  38941 non-null  float64
 16  vec_17  38941 non-null  float64
 17  vec_18  38941 non-null  float64
 18  vec_19  38941 non-null  float64
 19  vec_20  38941 non-null  float64
dtypes: float64(20)
memory usage: 5.9 MB

In [38]:
con_job_1 = pd.concat([job, vec_df], axis=1)

In [2]:
#saving final csv with additional vectors to match with resume. 
con_job_1.to_csv('wip/con_job_1.csv', index=False)